services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgrespw
    ports:
      - 5433:5432
    volumes:
      - /var/lib/postgresql/data
    healthcheck:
       test: ["CMD-SHELL", "pg_isready -U postgres"]
       interval: 5s
       timeout: 5s
       retries: 3
  mongodb:
     image: mongo
     environment:
        - MONGO_INITDB_ROOT_USERNAME=root
        - MONGO_INITDB_ROOT_PASSWORD=mongopw
     ports:
        - 27017:27017
     volumes:
        - /var/lib/mongodb/data
     healthcheck:
        test:
            [
                "CMD",
                "mongosh",
                "--quiet",
                "127.0.0.1/test",
                "--eval",
                "'quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)'",
            ]
        interval: 10s
        timeout: 10s
        retries: 5
        start_period: 40s
  rabbitmq:
     image: rabbitmq:4-management-alpine
     ports:
        - 5672:5672
        - 15672:15672
     healthcheck:
        test: rabbitmq-diagnostics check_port_connectivity
        interval: 5s
        timeout: 5s
        retries: 5
  auction-svc:
     image: acasadiegos/auction-svc:latest
     build:
        context: .
        dockerfile: src/Auction/AuctionService/Dockerfile
     environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:80
        - RabbitMq__Host=rabbitmq
        - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Username=postgres;Password=postgrespw;Database=auctions
        - IdentityServiceUrl=http://identity-svc
     ports:
        - 7001:80
     depends_on:
        postgres:
            condition: service_healthy
        rabbitmq:
            condition: service_healthy
  search-svc:
     image: acasadiegos/search-svc:latest
     build:
       context: .
       dockerfile: src/Search/SearchService/Dockerfile
     environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:80
        - RabbitMq__Host=rabbitmq
        - ConnectionStrings__MongoDbConnection=mongodb://root:mongopw@mongodb
        - Services__Auction__Url=http://auction-svc/api/auctions
        - Services__Auction__Endpoints__Search=search
     ports:
        - 7002:80
     depends_on:
        mongodb:
            condition: service_healthy
        rabbitmq:
            condition: service_healthy
  identity-svc:
     image: acasadiegos/identity-svc:latest
     build:
        context: .
        dockerfile: src/IdentityServer/Dockerfile
     environment:
        - ASPNETCORE_ENVIRONMENT=Docker
        - ASPNETCORE_URLS=http://+:80
        - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Username=postgres;Password=postgrespw;Database=identity
     ports:
       - 5001:80
     depends_on:
       postgres:
          condition: service_healthy
  gateway-svc:
     image: acasadiegos/gateway-svc:latest
     build:
        context: .
        dockerfile: src/Gateway/GatewayService/Dockerfile
     environment:
        - ASPNETCORE_ENVIRONMENT=Docker
        - ASPNETCORE_URLS=http://+:80
     ports:
        - 6001:80
     