@using Duende.IdentityServer.Extensions
@{
#nullable enable
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<nav class="navbar bg-base-100 shadow-lg">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">
            <i class="fa-solid fa-car"></i>
            CarsAuction Identity SSO
        </a>
    </div>

    <div class="flex-none">
        @if (!string.IsNullOrWhiteSpace(name))
        {
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost gap-2">
                    <i class="fa-solid fa-user"></i>
                    <span>@name</span>
                    <i class="fa-solid fa-chevron-down text-xs"></i>
                </div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow-xl mt-3">
                    <li>
                        <a asp-page="/Account/Logout/Index" class="gap-2">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</nav>